.sidecarText {
  font-family: rift-soft, sans-serif;
  fill: var(--color-primary);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10rem;
}

.sidecarText {
  transition: 
    top 0.4s ease-out, 
    left 0.4s ease-out,
    font-size 0.4s ease-out,
    transform 0.4s ease-out;
}

.sidecarText.collapsed {
  top: 2rem;
  left: 2rem;
  transform: none;
  font-size: 4rem;
  line-height: 4rem;
}

.sidecarText.collapsed p {
  padding: 0;
}
